.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}
