// Screen sizes
$screen-sm: 640px;
$screen-md: 768px;
$screen-lg: 1024px;
$screen-xl: 1280px;
$screen-xxl: 1536px;

// Colors
$white: #fff;
$dark: #000;
$text-color: #42474c;
$text-light-color: #6b7177;

$primary-dark2-color: #002e25;
$primary-dark1-Color: #004c3f;
$primary-color: #008060;
$primary-light1-color: #c1f0d0;
$primary-light2-color: #effcfa;

$secondary-color: #906509;
$secondary-light1-color: #fbf7ed;
$secondary-light2-color: #fff8f6;
$secondary-light3-color: #e2e6dc;
$secondary-light4-color: #ede8db;

$warning-color: #c43256;
$warning-light1-color: #c432571f;

// Fonts
$baseline: 14px !default;

//primary
$primary: #ff5258;
$primaryscale07: #ffeeee;

//secondary
$secondary: #00efe7;

//grey
$greyscale01: #212325;
$greyscale02: #383c40;
$greyscale03: #6c747b;
$greyscale04: #adb2b6;
$greyscale05: #d5dbdf;
$greyscale06: #eaedf0;
$greyscale07: #f6f8f9;

//blue
$blue01: #0bc9c3;
